<!DOCTYPE html>
<html lang="en">

  <%-include('../partials/head')%> 
  
  <body class="add">

    <%-include('../partials/header')%>

    <main>
        <h3>Agregar nuevo producto</h3>

        <div class="contenedor">
          
          <form method="POST" enctype="multipart/form-data">

          <div class="carruselImages">
            <br>

            <label for="image">
            <input class="image" type="file" id="image" name="image" multiple>
            </label>
            
          </div>     

          <div class="container-input-total">
            <input type="text" placeholder="Nombre del producto" name="name" value="<%= locals.old && old.name ? old.name : null %>">
            <span class="error"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
          </div>

          <div class="container-input-total">
            <textarea placeholder="Descripción" id="floatingTextarea" name="description" value="<%= locals.old && old.description ? old.description : null %>"></textarea>
            <label for="floatingTextarea"></label>
            <span class="error"><%= locals.errores && errores.description ? errores.description.msg : null %></span>
            </div>

          <div class="container-input-mitad">
            <input type="text" placeholder="Tamaño" name="size" value="<%= locals.old && old.size ? old.size : null %>"> 
            <span class="error-half"><%= locals.errores && errores.size ? errores.size.msg : null %></span>         
            <input type="number" placeholder="Precio" name="price" value="<%= locals.old && old.price ? old.price : null %>">
            <span class="error-half"><%= locals.errores && errores.price ? errores.price.msg : null %></span>
          </div>        
          
            <div class="container-input-mitad">

            <select class="form-select" id="category" aria-label="Floating label select example" name="category">
              <option value="" selected hidden>Selecciona la categoría</option>
              <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= locals.old && old.categoryId === category.id  ? 'selected' : null%>><%= firstLetter(category.name) %></option>
              <% }) %>
            </select>
            <label for="category"></label>    
            <span class="error-half"><%= locals.errores && errores.category ? errores.category.msg : null %></span>
          
            <select class="form-select" id="display" aria-label="Floating label select example" name="display">
              <option value="" selected hidden>Selecciona el display</option>
              <% displays.forEach(display => { %>
                <option value="<%= display.id %>" <%= locals.old && old.displayId === display.id  ? 'selected' : null%>><%= firstLetter(display.name) %></option>
              <% }) %>
            </select>
            <label for="display"></label>  
            <span class="error-half"><%= locals.errores && errores.display ? errores.display.msg : null %></span>    
          </div>
        
          <button class="btn-add" type="submit">Guardar</button>

        </form>
      
      </div>
     
    </main>
    
    <%-include('../partials/footer') %>
    <!-- Javascript para el carrusel -->
    <%-include('../partials/scripts') %>
  </body>
</html>
