<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head')%>
   
  <body class="add">

    <%-include('../partials/header')%>
    
    <main>
      <h3>Editar producto: <%= product.name.toUpperCase() %></h3>

      <div class="contenedor">

        <form action="/products/edit/<%= product.id %>?_method=PUT" id="productAdd" method="POST" enctype="multipart/form-data">

          <div class="carruselImages">  
<!--------------Imagen----------------->          
            <div class="carrusel">
              <div class="slideshow-container fade">
                <div class="editarImagen" id="preview">
                <% product.images.forEach((image,index) => { %>
                  <div class="Containers">
                    <div class="MessageInfo">
                    <img src="/images/products/<%= image.file %>" alt="imagen producto">
                      <div class="btn-eliminar-image">
                        <a onclick="deleteImage('<%=image.id%>')">Eliminar</a>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
          </div>
          <br>
      </div>
  <!--------------Fin Imagen----------------->

            <label for="image">
            <input class="image" type="file" id="image" name="image" multiple>
            <span id="error-image" class="error"><%= locals.errors && errors.image ? errors.image.msg : null %></span>
            <span id="info-image" class="errorVF"></span>
            </label>
                 

          <div class="container-input-total">
            <input type="text" placeholder="Nombre del producto" id="name" name="name" value="<%= firstLetter(product.name) %>"/>
            <span id="error-name" class="error"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
            <span id="info-name" class="errorVF"></span>
          </div>

          <div class="container-input-total">
            <textarea placeholder="Descripcion" id="description" name="description"><%= product.description %></textarea>
            <label for="description"></label>
            <span id="error-description" class="error"><%= locals.errors && errors.description ? errors.description.msg : null %></span>
            <span id="info-description" class="errorVF"></span>
          </div>

          <div class="container-input-mitad">
            <input type="text" placeholder="Tamaño" id="size" name="size" value=<%= firstLetter(product.size) %>>             
            <span id="error-size" class="error-half"><%= locals.errors && errors.size ? errors.size.msg : null %></span>   
            <span id="info-size" class="errorVF"></span> 

            <input type="number" placeholder="Precio" id="price" name="price" value=<%= product.price %>>
            <span id="error-price" class="error-half"><%= locals.errors && errors.price ? errors.price.msg : null %></span>
            <span id="info-price" class="errorVF"></span> 
          </div>  

              <div class="container-input-mitad">

                <select class="form-select" id="category" aria-label="Floating label select example" name="category">
                  <option value="" selected hidden>Selecciona la categoría</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null%>><%= firstLetter(category.name) %></option>
                  <% }) %>
                </select>
                <label for="category"></label>    
                <span id="error-category" class="error"><%= locals.errors && errors.category ? errors.category.msg : null %></span>
                <span id="info-category" class="errorVF"></span>
              
                <select class="form-select" id="display" aria-label="Floating label select example" name="display">
                  <option value="" selected hidden>Selecciona el display</option>
                  <% displays.forEach(display => { %>
                    <option value="<%= display.id %>" <%= product.displayId === display.id ? 'selected' : null%>><%= firstLetter(display.name) %></option>
                  <% }) %>
                </select>
                <label for="display"></label> 
                <span id="error-display" class="error"><%= locals.errors && errors.display ? errors.display.msg : null %></span>  
                <span id="info-display" class="errorVF"></span>   
              </div>
              <div><span id="errorEmpty" class="error-half"></span></div>
          <button class="btn-add" type="submit">Guardar</button>
          <!-- <a class="btn-add" href="/adminProducts">Cancelar</a> -->

        </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer') %>    
    <script src="/javascripts/productEdit.js"></script>
    <script src="/javascripts/productsEditValidator.js"></script>
  </body>
</html>
