<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head')%>

<body class="admin">

   <%-include('../partials/header')%>
   
    <div class="cabecera">
      <h3>Administrador de Usuarios</h3>    
       
    </div>
    <table summary="Listado de usuarios">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>            
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>            
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><a href=""><img src="/images/users/<%= user.avatar%>" alt="imagen de usuario"></a></td>
            <td><%= user.email %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><div class="iconos"><a href=""><i class="fas fa-edit"></i></a>
              
              <form action="">
              <button><i class="fas fa-trash-alt"></i></button>
            </form>
            
            </div></td>
          </tr>
          <% }) %>
        </tbody>
        
      </table>
</body>
</html>