<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head') %>
  
  <body>

    <%-include('../partials/header') %>

    <main class="profile">    

      <div class="imagenUsuario">
        <div class="container">
            <h2>Perfil de Usuario: <%= firstLetter(locals.userLogin.name) %></h2>
            <img src="/images/users/<%= locals.userLogin.avatar %>" alt="imagen de perfil">
           <button id="imageEdit" class="button-img">Cambiar imagen de perfil</button>

           <!-- form edicion imagen perfil -->
           <form action="/users/edit?_method=PUT" id="imageUpload" class="hide">  
              <label for="image">
              <input class="image" type="file" id="image" name="image" multiple>
              <span id="error-image" class="error"><%= locals.errors && errors.image ? errors.image.msg : null %></span>
              <span id="info-image" class="errorVF"></span>
              </label>
            </form>
             <!-- form edicion imagen perfil -->
        
          <u class="listProfile">
              <li><a href="">Wishlist</a></li>
              <li><a href="/">Carrito</a></li>
              <li><a href="">Cerrar sesión</a></li>
          </u>
        </div>
      </div>

      <div class="datosUsuario">
          
        <h2>Datos de <%= firstLetter(locals.userLogin.name) %></h2>

        <form action="/users/edit?_method=PUT" method="POST">
        <p>
           Nombre: <input type="text" placeholder="Nombre" name="name" value="<%= firstLetter(locals.userLogin.name) %>">           
        </p>
        <p>
           Apellido: <input type="text" placeholder="Apellido" name="lastName" value="<%= firstLetter(locals.userLogin.lastName) %>">
        </p>

        <label for="passwordEdit">Cambiar contraseña</label>
        <input type="checkbox" id="passwordEdit">
        <div id="password" class="hide">        

        <p>
          Contraseña anterior: <input type="password" placeholder="********" name="passwordBefore"/><br>
          <span id="error-image" class="error"><%= locals.errors && errors.image ? errors.image.msg : null %></span>
              <span id="info-image" class="errorVF"></span><br>
          Nueva contraseña: <input type="password" placeholder="********" name="password"/><br>
          <span id="error-image" class="error"><%= locals.errors && errors.image ? errors.image.msg : null %></span>
              <span id="info-image" class="errorVF"></span><br>
          Reingrese la contraseña: <input type="password" placeholder="********" name="rePassword"/>
          <span id="error-image" class="error"><%= locals.errors && errors.image ? errors.image.msg : null %></span>
              <span id="info-image" class="errorVF"></span>
       </p>  
      </div>

        <button type="submit" class="button">Guardar cambios</button>
        <a href="/" class="button">Cancelar</a>
        </div>
    </form>

      
    </main>

    <%-include('../partials/footer') %>
    <script src="/javascripts/profileEdit.js"></script>
  </body>
</html>

