<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head') %>

<body> 

    <%-include('../partials/header') %>
    
    <main>
         <div class="box-texto">
                <h3>Formulario de registro</h3> 
                <h4>Complete los siguientes campos para registrarse en nuestro sitio.</h4>  
        </div>   
        <div class="registro">           
            <div class="box-formularios">
                <form action="" method="POST" id="form-register" enctype="multipart/form-data">
                    <div class="box-2">
                        <div class="desktopRegistro">
                            <div>
                                <label for="name">Nombre</label>
                                <input type="text" name="name" placeholder="" id="name" value="<%= locals.old && old.name ? old.name : null %>">
                                <span id="error-name" class="error"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                                <span id="info-name" class="small text-info"></span>                  
                            </div>  
                            <div>
                                <label for="lastname">Apellido</label>
                                <input type="text" name="lastname" placeholder="" id="lastname" value="<%= locals.old && old.lastname ? old.lastname : null %>">                                 
                                <span id="error-lastname" class="error"><%= locals.errors && errors.lastname ? errors.lastname.msg : null %></span>
                                <span id="info-lastname" class="small text-info"></span>                           
                            </div>  
                            <div>
                                <label for="email">Email</label>
                                <input type="text" name="email" placeholder="" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                                <span id="error-email" class="error"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
                                <span id="info-email" class="small text-info"></span>                          
                            </div>  
                        </div> 
                        <div class="desktopContraseñas">                            
                            <div>
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" placeholder="" id="password" value="<%= locals.old && old.password ? old.password : null %>">                               
                                <span id="error-password" class="error"><%= locals.errors && errors.password ? errors.password.msg : null %></span> 
                                <span id="info-password" class="small text-info"></span>
                            </div>   
                            <div>
                                <label for="rePassword">Confirmar contraseña</label>
                                <input type="password" name="rePassword" placeholder="" id="rePassword" value="<%= locals.old && old.rePassword ? old.rePassword : null %>">                                
                                <span id="error-rePassword" class="error"><%= locals.errors && errors.rePassword ? errors.rePassword.msg : null %></span>
                                <span id="info-rePassword" class="small text-info"></span>   
                            </div>
                            <div>
                                <label for="image">Foto</label>
                                    <input class="image" type="file" id="image" name="image">
                                    <span class="error"><%= locals.errores && errores.image ? errores.image.msg : null %></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-3">
                        <div class="yaTengoCuenta">
                            <p>¿Ya tenés una cuenta? <a href="/users/login">Iniciar sesión</a></p>
                        </div>
                        <div class="botonAcceptCancel">
                            <input type="reset" name="" value="Cancelar">
                            <input type="submit" name="" value="Registrarse">                            
                        </div>
                    </div>
                </form>  
            </div>                      
        </div>       
    </main>
    <%-include('../partials/footer') %>
    <script src="/javascripts/registerValidator.js"></script>
</body>
</html>