<!DOCTYPE html>
<html lang="es">

  <%-include('../partials/head') %>
  
  <body>

    <%-include('../partials/header') %>

    <main class="detalle">
      <div class="imagenProducto">
        <img src="/images/products/<%= product.image %>" alt="foto producto" />
      </div>

      <div class="detallesProducto">
        <h2><%= firstLetter(product.name) %></h2>

        <p>
          <%= firstLetter(product.description) %>
        </p>

        <h3>$<%= product.price %>.-</h3>
        <!-- <h4>12 cuotas de $<%= cuota (Math.round(product.price)).toFixed(2) %></h4> -->
        <h4>12 cuotas de $<%= cuota (product.price).toFixed(2) %></h4>

        <div class="cantidad-boton">
          <div class="masMenos">
            <form action="">
              <button>-</button>
              <input type="text" value="0" />
              <button>+</button>
            </form>
          </div>
          <button class="button">AGREGAR AL CARRITO</button>
        </div>
      </div>
    </main>

    <%-include('../partials/footer') %>
  </body>
</html>
