<!DOCTYPE html>
<html lang="en">

  <%-include('../partials/head')%> 
  
  <body class="add">

    <%-include('../partials/header')%>

    <main>
      <div class="contenedor">
        <h3>Agregar producto</h3>

        <form method="POST" enctype="multipart/form-data">

          <div class="container-input-total">
            <input type="text" placeholder="Nombre del producto" name="name"/>
          </div>

          <div class="container-input-total">
            <textarea placeholder="Descripción" id="floatingTextarea" name="description"></textarea>
            <label for="floatingTextarea"></label>
          </div>

          <div class="container-input-mitad">
            <input type="number" placeholder="Precio" name="price"/>
         
            <input type="text" placeholder="Tamaño" name="size"/> </div>
          
            <div class="container-input-mitad">
          <select class="form-select" id="category" aria-label="Floating label select example" name="category">
            <option value="" selected hidden>Selecciona la categoría</option>
            <% categories.forEach(category => { %>
              <option value="<%= category %>" <%= locals.old && old.category === category  ? 'selected' : null%> ><%= firstLetter(category) %></option>
             <% }) %>
          </select>

          <label for="category"></label>        
          <input class="image" type="file" id="image" name="image">                
          </div>

          
            <button class="btn-add" type="submit">Guardar</button>

        </form>
      </div>
     
    </main>
  </body>
</html>
