<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head')%>

<body class="admin">

   <%-include('../partials/header')%>
   
    <div class="cabecera">
      <h3>Administrador</h3>    
      <a class="btnAgregar" href="/products/create">Agregar</a>    
    </div>
    <table summary="Listado de productos">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Presentación</th>            
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
            <% products.forEach((product, index) => { %>            
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><a href="/products/detalle/<%= product.id %> "><img src="/images/products/<%= product.image %>" alt=""></a></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.size %></td>
            <td><div class="iconos"><a href="/products/edit/<%= product.id %> "><i class="fas fa-edit"></i></a>
              
              <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
              <button><i class="fas fa-trash-alt"></i></button>
            </form>
            
            </div></td>
          </tr>
          <% }) %>
        </tbody>
        
      </table>
</body>
</html>